<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.domain.mapper.goods.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.domain.model.goods.Goods" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_TEIM" property="lastUpdateTeim" jdbcType="TIMESTAMP" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, LAST_UPDATE_TEIM, NAME, PRICE, ICON
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.domain.model.goods.Goods" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods (CREATE_TIME, LAST_UPDATE_TEIM, NAME, 
      PRICE, ICON)
    values (#{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTeim,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{icon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.domain.model.goods.Goods" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="lastUpdateTeim != null" >
        LAST_UPDATE_TEIM,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTeim != null" >
        #{lastUpdateTeim,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.domain.model.goods.Goods" >
    update goods
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTeim != null" >
        LAST_UPDATE_TEIM = #{lastUpdateTeim,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.domain.model.goods.Goods" >
    update goods
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TEIM = #{lastUpdateTeim,jdbcType=TIMESTAMP},
      NAME = #{name,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      ICON = #{icon,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from goods
  </select>
</mapper>